# Credenziali locali
neo4j_auth.txt
.env
.env.local

# Import locali non destinati al repository
# Se vuoi versionare file di esempio, salvali altrove o rimuovi questa regola.
neo4j/import/private/

# File temporanei / sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Log generici
*.log
